<div class="sobre-container">
  <h1>👋 Olá, eu sou o Fred Portela</h1>
  <p class="subtitulo">Full Stack Developer do Brasil</p>
  <p>Com quase <strong>21 anos</strong> de experiência em desenvolvimento de software 🚀</p>

  <div class="links">
    <a href="https://github.com/FredPortela" target="_blank"><mat-icon>source</mat-icon> Github</a>
    <a href="mailto:fredportela@gmail.com"><mat-icon>mail</mat-icon> Gmail</a>
    <a href="https://linkedin.com/in/fredportela" target="_blank"><mat-icon class="rotated-icon">link</mat-icon> Linkedin</a>
    <a href="/curriculum"><mat-icon>school</mat-icon> Curriculum</a>
  </div>

  <mat-divider></mat-divider>

  <h2>📌 Informações Pessoais</h2>
  <ul>
    <li>💼 Atualmente trabalhando na <strong>Sonda</strong></li>
    <li>🔧 Apaixonado por desenvolver novas tecnologias</li>
    <li>💬 Pode me perguntar qualquer coisa, fico feliz em ajudar</li>
    <li>📫 Contato: <strong>fredportela@gmail.com</strong></li>
  </ul>

  <mat-divider></mat-divider>

  <h2>⚡ Tecnologias</h2>

  <div class="grid">
    <div>
      <h3>Backend</h3>
      <ul>
        <li>NodeJs</li>
        <li>NestJs</li>
        <li>Java / Quarkus / Spring Boot</li>
        <li>.NET / .NET Core</li>
        <li>PHP</li>
        <li>Go</li>
        <li>Python</li>
      </ul>
    </div>
    <div>
      <h3>Frontend</h3>
      <ul>
        <li>ES6 / ES7</li>
        <li>AngularJs / Angular</li>
        <li>React / React Native</li>
      </ul>
    </div>
  </div>
</div>
