footer {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  color: #1976d2;
  font-weight: 500;
  font-size: 15px;
}

@media print {

  footer {
    display: none;
  }
}
